<?xml version="1.0"?>
<config>
    <modules>
        <Mkg_Exporter>
            <version>0.1.1</version>
        </Mkg_Exporter>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mkg_Exporter before="Mage_Adminhtml">Mkg_Exporter_Adminhtml</Mkg_Exporter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <exporter module="exporter">
                        <title>Exporter</title>
                        <sort_order>1010</sort_order>
                        <action>adminhtml/exporter_index/new</action>
                    </exporter>
                </children>
            </catalog>
        </menu>
        <!--<acl>-->
            <!--<resources>-->
                <!--<all>-->
                    <!--<title>Allow Everything</title>-->
                <!--</all>-->
                <!--<admin>-->
                    <!--<children>-->
                        <!--<catalog>-->
                            <!--<children>-->
                                <!--<exorter module="exporter">-->
                                    <!--<title>Exporter</title>-->
                                    <!--<sort_order>1010</sort_order>-->
                                <!--</exorter>-->
                            <!--</children>-->
                        <!--</catalog>-->
                    <!--</children>-->
                <!--</admin>-->
            <!--</resources>-->
        <!--</acl>-->
        <!--<layout>-->
            <!--<updates>-->
                <!--<importer>-->
                    <!--<file>exporter.xml</file>-->
                <!--</importer>-->
            <!--</updates>-->
        <!--</layout>-->
        <!--<translate>-->
            <!--<modules>-->
                <!--<Mkg_Support>-->
                    <!--<files>-->
                        <!--<default>Mkg_Exporter.csv</default>-->
                    <!--</files>-->
                <!--</Mkg_Support>-->
            <!--</modules>-->
        <!--</translate>-->
    </adminhtml>
    <!--<frontend>-->
        <!--<routers>-->
            <!--<carfilter>-->
                <!--<use>standard</use>-->
                <!--<args>-->
                    <!--<module>exporter</module>-->
                    <!--<frontName>exporter</frontName>-->
                <!--</args>-->
            <!--</carfilter>-->
        <!--</routers>-->
    <!--</frontend>-->
    <global>
        <!--<resources>-->
            <!--<exporter_setup>-->
                <!--<setup>-->
                    <!--<module>Mkg_Exporter</module>-->
                <!--</setup>-->
                <!--<connection>-->
                    <!--<use>core_setup</use>-->
                <!--</connection>-->
            <!--</exporter_setup>-->
            <!--<exporter_write>-->
                <!--<connection>-->
                    <!--<use>core_write</use>-->
                <!--</connection>-->
            <!--</exporter_write>-->
            <!--<exporter_read>-->
                <!--<connection>-->
                    <!--<use>core_read</use>-->
                <!--</connection>-->
            <!--</exporter_read>-->
        <!--</resources>-->
        <blocks>
            <exporter>
                <class>Mkg_Exporter_Block</class>
            </exporter>
        </blocks>
        <helpers>
            <exporter>
                <class>Mkg_Exporter_Helper</class>
            </exporter>
        </helpers>
    </global>
</config>